{{define "navbar"}}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                首页
            </a>

            <a href="/shopping-cart" class="navbar-item">
                购物车
            </a>

            <a href="/orders" class="navbar-item">
                订单
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    更多
                </a>

                <div class="navbar-dropdown">
                    <a href="mailto:nie_wang@outlook.com" class="navbar-item" target="_blank" rel="noopener noreferrer">
                        联系客服
                    </a>
                    <a class="navbar-item">
                        官方TG群
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
{{end}}
